*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html:not(.dark) body {
    background-color: var(--color-bg);
    color: var(--color-text);
}

html.dark body {
    background-color: var(--color-bg);
    color: var(--color-text);
}

html.theme-loaded body {
    visibility: visible;
}

body {
    color: var(--color-text);
    transition:
            background-color 0.3s ease,
            color 0.3s ease;
    font-size: 16px;
    line-height: 1.6;
    visibility: hidden;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
}
